<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>Unregulated Fish</li>
      </ol>
    </div>
  </div>
  <div class="row">
      <section class="fishes">
        <% @fishes.each do |fish| %>
          <div class="col-md-4">
            <article class="fish unregulated">
              <%= link_to unregulated_fish_path(fish) do %>
                <%= image_tag fish.img_path, class: "img-responsive img-thumbnail", alt: fish.name %>
              <% end %>
              <%= link_to title(fish), unregulated_fish_path(fish) %>
            </article>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
