@import "custom";

section  {
  &.fishes, &.fish-details {
    span.sub-title {
      display: block;
      font-weight: bold;
    }

    li {
      margin-bottom: .6em;
      font-size: 1.5em;

      &.google-search {
        margin-top: 1em;
      }

      span {
        font-size: .7em;
      }
    }
  }

  &.fishes {
    article.fish {
      margin-bottom: 4em;
      height: 530px;

      @media (max-width: $screen-md-min) {
        text-align: center;
      }
    }
  }
}


@media (min-width: $screen-md-min) {
  section.fish-details {
    h3 {
      margin-top: 0;
    }
  }
}
