<nav class="navbar navbar-default navbar-fixedtop">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" title="Bermuda Marine Regulations">
        Bermuda Marine Regulations
      </a>
    </div>
  </div>
</nav>
