<h1><%= pluralize @fish_with_regulations.size, "Fish" %> with regulations</h1>
<section>
  <% @fish_with_regulations.each do |fish| %>
    <article>
      <%= link_to title(fish), fish_path(fish) %>
      <h5>Regulations</h5>
      <ul style="list-style-type: none;">
        <li>Minimum Size: <%= fish.minimum_size %></li>
        <li>Bag Limit: <%= fish.bag_limit %></li>
      </ul>
    </article>
    <hr>
  <% end %>
</section>
